<% if @token_vote_stats.any? %>
  <table class="list">
    <tr>
      <th class="token">Token</th>
      <% TokenVote::STAT_PERIODS.keys.each do |period| %>
        <th class="period"><%= period %></th>
      <% end %>
    </tr>
    <% @token_vote_stats.each do |token, stats| %>
      <tr>
        <td class="token"><%= token %></td>
        <% stats.sort.each do |period, amount_conf| %>
          <td class="amount"><%= humanify_amount(amount_conf) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
