<div class="splitcontentleft">
  <fieldset class="box tabular">
    <legend>Payouts</legend>
  </fieldset>
</div>

<div class="splitcontentright">
  <fieldset class="box tabular">
    <legend>Request withdrawal</legend>
    <em class="info">(1) if you will withdraw less than total amount, application will decide which funds to use first</em>
    <em class="info">(2) withdrawal transactions are processed/signed under human supervision; application does not have access to private keys used for signing</em>
  </fieldset>
</div>

<div class="content" style="clear: both">
  <fieldset class="box tabular">
    <legend>Expired votes</legend>

    <% tab[:name] = 'expired' %>
    <%= render partial: 'my/token_votes/index', locals: {tab: tab} %>
  </fieldset>
</div>
