<div style="clear:both;">
  <h3>Payouts from completed issues</h3>
  <%= render partial: 'my/token_votes/tokens/payouts' %>

  <h3>Expired votes</h3>
  <%= render partial: 'my/token_votes/tokens/expired' %>
</div>
