<div class="splitcontentleft">
  <fieldset class="box tabular">
    <legend>Payouts from completed issues</legend>
    <% if @my_payouts.present? %>
    <% else %>
      <div class="nodata"><%= l(:label_no_data) %></div>
    <% end %>
  </fieldset>

  <fieldset class="box tabular">
    <legend>Expired votes</legend>
    <% if @my_expired_votes.present? %>
    <% else %>
      <div class="nodata"><%= l(:label_no_data) %></div>
    <% end %>
  </fieldset>
</div>

<div class="splitcontentright">
  <fieldset class="box tabular">
    <legend>Request withdrawal</legend>
    <em class="info">(1) if you will withdraw less than total amount, application will decide which funds to use first</em>
    <em class="info">(2) withdrawal transactions are processed/signed under human supervision; application does not have access to private keys used for signing</em>
    <em class="info">(3) fees will be deducted from withdrawal amount so the received amount will be slightly lower</em>
  </fieldset>

  <fieldset class="box tabular">
    <legend>Withdrawals</legend>
    <% if @my_withdrawals.present? %>
    <% else %>
      <div class="nodata"><%= l(:label_no_data) %></div>
    <% end %>
  </fieldset>
</div>

