<div style="clear:both;">
  <div id="token_withdrawals-flash"></div>
</div>

<div class="splitcontentleft">
  <fieldset class="box tabular">
    <legend>Request withdrawal</legend>
    <%= render partial: 'my/token_votes/withdrawals/form' %>
  </fieldset>
</div>

<div class="splitcontentright">
  <fieldset class="box">
    <legend>Information</legend>
    <em class="info">(1) if you will withdraw less than total amount, application will decide which funds to use first</em>
    <em class="info">(2) withdrawal transactions are processed/signed under human supervision; application does not have access to private keys used for signing</em>
    <em class="info">(3) fees will be deducted from withdrawal amount so the received amount will be slightly lower</em>
  </fieldset>
</div>

<div style="clear:both;">
  <h3>Withdrawals</h3>
  <div id="token_withdrawals-table">
    <%= render partial: 'my/token_votes/withdrawals/index' %>
  </div>
</div>

